﻿@model MargentoWebTest.Models.Users
@using MargentoWebTest.Models
@{
    ViewBag.Title = "Create";
}


<h1>Create</h1>

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PostCode, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PostCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PostCode)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.City)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BirhtDate, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BirhtDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BirhtDate)
        </div>
    </div>

    <input style="margin-top:30px;" class="btn btn-primary" type="submit" name="submit" value="Submit" />
    <input style="margin-top:30px;" class="btn btn-default" onclick="Redirect()" value="Cancel" />

}

    <script>

   
        
        function Redirect() {
            window.location.href = '/';
        }
       
   
    </script>