﻿@model MargentoWebTest.Models.Users
@using MargentoWebTest.Models
@{
    ViewBag.Title = "Edit";
}


<h1>Edit</h1>

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.HiddenFor(model => model.id, new { id = "id" })

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PostCode, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PostCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PostCode)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.City)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BirhtDate, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BirhtDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BirhtDate)
        </div>
    </div>


    <input style="margin-top:30px;" class="btn btn-primary" type="submit" name="submit" value="Submit" />
    <input style="margin-top:30px;" class="btn btn-danger" onclick="DeleteData()" value="Delete" />
    <input style="margin-top:30px;" class="btn btn-default" onclick="Redirect()" value="Cancel" />

}
<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ...?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="delete">YES</button>
            </div>
        </div>
    </div>
</div>
<script>

    function DeleteData() {

        $('#confirmation').modal('show').one('click', '#delete', function (e) {
            $('#confirmation').modal('hide')
            Delete($("#id").val());
        });;
        
    }
    function Redirect() {
            window.location.href = '/';
    }
    function Delete(UserId) {
        var url = '@Url.Content("~/")' + "User/DeleteUser";
        $.post(url, { ID: UserId }, function (data) {
            if (data == "Deleted") {
                $('#deleted').modal('show');
                window.location.href = '/';
            }
            else {
                alert("Something Went Wrong!");
            }
        });
    }
</script>