﻿@using MargentoWebTest.Models
@model MargentoWebTest.Models.Users
@{
    ViewBag.Title = "Home Page";
}



<div class="container">

    <div class="button-container">

        <button class="btn btn-primary" onclick="navigateTo('Create','User');">Create new User</button>
    </div>

        <table id="userGrid" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Post Code</th>

                    <th>Actions</th>
                </tr>
            </thead>


        </table>

   
</div>

<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ...?
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="delete" >YES</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleted" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Info</h4>
            </div>
            <div class="modal-body">
                User deleted
            </div>
        </div>
    </div>
</div>
<script>

        $(document).ready(function () {
            $('#CreateNew').click(function () {
                document.location = '@Url.Action("Create New", "Create", "User")';
            });

            $("#userGrid").DataTable({

                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "pageLength": 10,
                    "ajax": {
                        "url": "/User/LoadData",
                        "type": "POST",
                        "datatype": "json"
                    },

                    "columnDefs":[]
                        [{
                            "targets": [0],
                            "visible": true,
                            "searchable": true
                        },
                        {
                            "targets": [2],
                            "searchable": true,
                            "orderable": true
                        },
                        {
                            "targets": [3],
                            "searchable": true,
                            "orderable": true
                        },
                        {
                            "targets": [4],
                            "searchable": true,
                            "orderable": true
                        }],

                    "columns": [
                        { "data": "id", "name": "ID", "autoWidth": true },
                        { "data": "Name", "name": "Name", "autoWidth": true },
                        { "data": "LastName", "name": "Lastname", "autoWidth": true },
                        { "data": "BirhtDate", "name": "BirhtDate", "autoWidth": true },
                        { "data": "PhoneNumber", "name": "PhoneNumber", "autoWidth": true },
                        { "data": "Email", "name": "Email", "autoWidth": true },
                        { "data": "PostCode", "name": "PostCode", "autoWidth": true },
                        {
                            data: null, render: function (data, type, row) {
                                return "<a  class='btn btn-danger' onclick=DeleteData('" + data.id + "'); >Delete</a> &nbsp" +
                                    "<a class='btn btn-info' onclick=EditUser(" + data.id + ");>Edit </a>";
                            }
                        },


                    ]

                 

                });
        });

         function EditUser(Userid) {
         
            window.location.href = '/User/Edit/' + Userid;
        }
        function DeleteData(UserId) {

            $('#confirmation').modal('show').one('click', '#delete', function (e) {
                $('#confirmation').modal('hide')
                Delete(UserId);
            });;

     
        }
        function navigateTo(Method, Controller) {
            window.location.href = '/'+Controller+'/'+Method;
        }
        function Delete(UserId) {
            var url = '@Url.Content("~/")' + "User/DeleteUser";
            $.post(url, { ID: UserId }, function (data) {
                if (data == "Deleted") {
                    $('#deleted').modal('show')
                    oTable = $('#userGrid').DataTable();
                    oTable.draw();
                }
                else {
                    alert("Something Went Wrong!");
                }
            });
        }

       
</script>
